/*
 * Base global styles
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 16px;
}

body {
    padding: 20px;
}

form label[required]::after {
    content: " *";
    color: red;
    display: inline;
}

a, a:visited {
    display: inline-block;
    color: #7171ff;
    text-decoration: none;
}

input, textarea {
    padding: 2px 10px;
}

table {
    width: 100%;
}
table th,
table td {
    padding: 3px 5px;
}

nav {
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
}
nav a {
    padding: 6px 12px;
}
nav li {
    display: inline-block;
}
nav li + li {
    border-left: 1px solid gray;
    margin-left: 10px;
    padding-left: 10px;
}
button + button,
button + input[type="submit"],
button + .btn,
input[type="submit"] + button,
input[type="submit"] + input[type="submit"],
input[type="submit"] + .btn,
.btn + button,
.btn + input[type="submit"],
.btn + .btn
{
    margin-left: 6px;
}
button,
input[type="submit"],
.btn
{
    border: solid 1px #ccc;
    background: #ddd;
    color: black;
    border-radius: 3px;
    padding: 3px 6px;
}
button:hover,
input[type="submit"]:hover,
.btn:hover
{
    border: solid 1px #ddd;
    background: #eee;
    cursor: pointer;
}
button:active,
input[type="submit"]:active,
.btn:active
{
    border: solid 1px #bbb;
    background: #ccc;
}
a.btn {
    text-decoration: none;
}

/*
 Custom classed styles
 */

.nobg {
    background-color: transparent;
    border-color: transparent;
}

.right {
    float: right;
}

nav li:not(.right) + li.right {
    border-left: none;
}

nav.main {
    background: #f8f8f8;
}
nav.main a:hover {
    border-radius: 5px;
    background: #eee;
}
nav.main a:active {
    background: #e6e6e6;
}

table.bordered {
    border-collapse: collapse;
    border-spacing: 0;
}
table.bordered,
table.bordered th,
table.bordered td {
    border: solid 1px gray;
}

ul.nostyle {
    list-style-type: none;
    margin: 0;
}

.alert {
    border-radius: 5px;
    padding: 10px;
    margin: 5px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid 1px #aaa;
}
.alert::before {
    display: block;
    height: 100%;
    margin-right: 10px;
}

.alert.error {
    color: #b52d2d;
    border-color: #b52d2d;
    background-color: #fdbdbd;
}
.alert.error::before {
    content: "⛔";
}

.alert.success {
    color: #1b753f;
    border-color: #1b753f;
    background-color: #caffd8;
}
.alert.success::before {
    content: "✅";
}

.subnav {
    display: flex;
    flex-direction: row-reverse;
}

button.activity-icon {
    color: #25324d;
    border: solid 2px transparent;
    background-color: #b7ccff;
    margin-top: 5px;
    margin-bottom: 5px;
}
button.activity-icon:hover {
    color: #384767;
    border-color: #5f83d3;
    background-color: #d6e3ff;
}
button.activity-icon:active {
    color: #566687;
    border-color: #566687;
    background-color: #c3cfea;
}
button.activity-icon.active {
    border-color: #25324d;
}
button.activity-icon.active:hover {
    border-color: #6079ac;
}
button.activity-icon + button.activity-icon {
    margin-left: 5px;
}
